.layout-container {
  position: absolute;
  top: 80px;
  bottom: 0;
  left: 0;
  right: 0;
}

.layout-sidenav {
  display: flex;
  // align-items: center;
  justify-content: center;
  width: 140px;
  // background: rgba(108, 107, 134, 0.11);
  // border-right: 3px solid rgba(16, 16, 138, 0.5);
}

.layout-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
}

.layout-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.toolbar-logo {
  max-height: 76px;
  max-width: 100px;
  margin-right: 1em;
}
.toolbar-title {
  font-size: 1.5em;
  // font-weight: bold;
  font-stretch: expanded;
  flex: 1 1 auto;
}
.toolbar-user {
  font-size: 0.8em;
  font-stretch: condensed;
  align-items: center;
  display: inline-flex;
}
.toolbar-user img {
  max-height: 56px;
  margin-left: 0.5em;
  margin-right: 0.5em;
  border-radius: 50%;
  border: 3px solid black;
}
