<section class="mat-typography">
  <!-- <mat-toolbar color="primary" class="layout-header"> -->
  <mat-toolbar color="primary" class="layout-header">
    <img src="{{urlLogo}}" class="toolbar-logo">
    <span class="toolbar-title">Incident Prediction Console</span>
    <span class="toolbar-user">
      <span>Kilian, DevOps</span>
      <img src="{{urlUser}}">
      <button mat-button>Log out</button>
      <button mat-icon-button>
        <mat-icon>settings</mat-icon>
      </button>
    </span>
  </mat-toolbar>

  <mat-sidenav-container class="layout-container">
    <mat-sidenav #sidenav mode="side" opened class="layout-sidenav">
      <div>
        <!-- <mat-nav-list>
          <a mat-list-item href="#"><strong>Dashboard</strong></a>
          <a mat-list-item href="#"><strong>History</strong></a>
          <a mat-list-item href="#"><strong>Statistics</strong></a>
          <a mat-list-item href="#"><strong>Search</strong></a>
        </mat-nav-list>
        <mat-divider></mat-divider> -->
        <mat-nav-list>
          <a mat-list-item routerLink="dash" routerLinkActive="active">Dashboard</a>
          <a mat-list-item routerLink="history" routerLinkActive="active">History</a>
          <a mat-list-item routerLink="stats" routerLinkActive="active">Statistics</a>
          <a mat-list-item routerLink="search" routerLinkActive="active">Search</a>
        </mat-nav-list>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <main style="margin: 0.5em;">
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>

</section>
